

<section class="about container">
    

    <h1 class="text-center mb-5">About</h1>
    <p>
        Success Learning Portal is India's leading Workforce Development 
        Platform that helps learners in building careers with leading corporates through training & other career building services.
    </p>
    <p>
        Success Learning Portal impacts the entire Career Development life cycle of the unemployed youth of the country. We help the unemployed youth to understand their strengths, build tomorrow’s skills needed by recruiters and secure employment with them, thereby building sustainable careers for our beneficiaries.
    </p>
    <p>
        With more than a decade of experience, we have trained over 150,000 youth and placed around 100,000 learners in more than 300 companies across the country. We have an offline presence across 18 states, extensive local networks & ecosystems, tried and tested tech architecture and strong relationships with recruiters, corporate and the youth; we have grown our online business as an Integrated Workforce Development Platform for the youth‘s journey from a learner to a productive member of the workforce.
    </p>

<br>
    <div class="follow text-center">
        <br>
    
        <h4>Follow Us</h4>
        <br>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>
